# Disable the blank line at the start of the prompt
add_newline = false
command_timeout = 1000

# Move the directory and git info to the first line
format = """
$directory\
$git_branch\
$git_status\
$git_commit\
$git_metrics\
$fill\
$lua\
$docker_context\
$python\
$nodejs\
$golang\
$aws\
$azure\
$terraform\
$kubernetes\
$line_break\
$character
"""

[status]
disabled = false
format = "\n"

[fill]
symbol = " "

[directory]
format = '[$path ]($style)'
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = false

[kubernetes]
symbol = "☸ "
format = "[$symbol$context]($style) "
disabled = false

[git_branch]
style = 'fg:green'
symbol = ' '
format = '[on](white) [$symbol$branch ]($style)'

[git_status]
style = 'fg:green'
format = '([$all_status$ahead_behind]($style) )'

[git_metrics]
added_style = 'bold blue'
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[git_commit]
tag_symbol = '  '
# Remove the "via" text from language versions
[nodejs]
symbol = " "
format = '[$symbol($version )]($style)'

[rust]
symbol = "󱘗 "
format = '[$symbol($version )]($style)'

[python]
symbol = ' '
format = '[${symbol}${pyenv_prefix}(${version} )(\[$virtualenv\] )]($style)'
pyenv_version_name = true
pyenv_prefix = ''

[golang]
format = '[$symbol($version )]($style)'
symbol = ' '

[dart]
symbol = " "
format = '[$symbol($version )]($style)'

[lua]
symbol = " "
format = '[$symbol($version )]($style)'

[php]
symbol = " "
format = '[$symbol($version )]($style)'

[zig]
symbol = " "
format = '[$symbol($version )]($style)'

[terraform]
symbol = "󱁢 "
style = "purple"
format = '[$symbol($version )(\[$workspace\] )]($style)'

[package]
symbol = '󰏗 '

[aws]
symbol = " "
format = '[$symbol($profile )(\[$duration\] )]($style)'

[direnv]
format = '[$symbol]($style)'

[docker_context]
style = 'fg:#06969A'
format = '[$symbol]($style) $path'
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
detect_extensions = ['Dockerfile']

[jobs]
symbol = ' '
style = 'red'
number_threshold = 1
format = '[$symbol]($style)'

[cmd_duration]
min_time = 500
format = '[$duration]($style)'

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Terraform = "󱁢 "
Windows = "󰍲 "
